* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 47px 0px 0px 42px;
}

.link-header{
    /*font-family: Poppins;*/
    font-weight: 400px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;
    text-align: center;
    color: #17233D;
    width: 79px;
    height: 21px;
    margin-left: 32px;
    cursor: pointer;
}

.button-header{
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px;
    /*font-family: Poppins;*/
    font-weight: 500px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #FFFFFF;
    border: 1px solid #4CB538;
    background: #6FBF44;
    margin-left: 32px;
    cursor: pointer;
}

.img-main{
    width: 595.18px;
    height: 500px;
    margin-top: 163px;
    margin-left: 121px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 40px;
}

.title-section{
    width: 582px;
    height: 164px;
    /*margin-top: 342px;*/
    /*margin-left: 801px;*/
    /*margin-right: 57px;*/
    /*font-family: Poppins;*/
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
}

.paragraph-section{
    width: 493px;
   /* height: 99;*/
    margin-top: 47px;
    margin-bottom: 55px;
    color: #4B505A;
    /*font-family: Poppins;*/
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: justify;
}

.link-section{
    width: 112px;
    height: 27px;
    /*margin-top: 55px;*/
    /*margin-bottom: 114px;
    /*font-family: Poppins;*/
    font-weight: 500px;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor:pointer ;
}

@media screen and (max-width: 420px) {

    * {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

   .link-header{
        display: none;
   }

   .button-header{
        width: 91px;
        height: 31px;
        border-radius: 6px;
        border-width: 1px;
        background: #6FBF44;
        border: 1px solid #4CB538;
        color: #FFFFFF;  
        font-weight: 500px;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 1px;
        position: absolute;
            top: 17px;
            right: 15px;
            left: auto; 
   }

   main{
        display: block;
   }

   .img-main{
        width: 312px;
        height: 288px;
        margin-top: 59px;
        margin-left: 60px;
        margin-right: 39px;
        position: absolute;
            top: 490px;
        
    }
   
   section{
        text-align: center;
        position: absolute;
            top: auto;
   }
   
   .title-section{
        width: 278px;
        height: 60px;
        margin: 124px 55px 0px 57px;
        font-weight: 700px;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        
   }

   .paragraph-section{
        width: 304px;
        height: 165px;
        margin: 29px 43px 26px 43px;
        font-weight: 400px;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
       
   }

   .link-section{
        width: 112px;
        height: 27px;
        /*font-family: Poppins;*/
        font-weight: 500px;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1px;
        color: #6FBF44;
        margin-top: 26px;
   }
    
}